.DS_Store
__pycache__

*.ai
*.pdf
*.pyc
*.cpython*
*~
.ipynb_checkpoints
.coverage

# Ignore raw data
#/data/*

# Keep only generated fine-tuning datasets trackable
#!/data/finnish_*_finetune.csv
#!/data/finnish_*_finetune.hdf5

tests/dataset_processing/test.py
*.egg-info
build
dist

_build
.codex
*.hdf5
